body {
    font-family: 'Ibarra Real Nova', serif;
}

.logo {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Rozha One', serif;
}

.cabecera__typography {
    font-weight: bold;
    font-size: 20px;
}