body {
    background-color: $background-color;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;

    grid-template-areas:
        "header header header header"
        "content content content barra"
        "newsletter newsletter newsletter newsletter"
        "footer footer footer footer";



    .main {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-area: content;


        .noticia {
            width: 33.33%;
            text-align: center;
            justify-content: flex-start;
            display: flex;
            flex-direction: column;

            h2 {
                margin: 10px;

            }

            p {
                padding-top: 10px;
            }

        }
    }


    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: newsletter;
        background-color: $background-footer;


        h2 {
            padding: 20px;
        }

        p {
            padding-bottom: 10px;
        }

        div {
            padding-bottom: 15px;
        }

    }

    @media screen and (max-width: 375px) {
        .contenedor {
            grid-template-areas:
                "header header header header"
                "content content content content"
                "newsletter newsletter newsletter newsletter"
                "footer footer footer footer";

            .sidebar {
                display: none;
            }

            .main .noticia {
                width: 100%;
            }

            .header .nav ul li:first-of-type {
                display: none;
            }

            .header .nav ul li input {
                width: 50%;
                padding-right: 40px;
            }

            .header .nav ul {
                margin-left: 40px;
            }

            .newsletter p {
                text-align: center;
            }
        }

    }